<div class="bg-navy smooth">
    <nav class="navbar bg-navy" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="" width="100">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item text-green" [routerLink]="['./']" fragment="section1">
                <span>01.</span>&nbsp;About
            </a>
            <a class="navbar-item text-green"  [routerLink]="['./']" fragment="section2">
                <span>02.</span>&nbsp;Experience
            </a>
            <a class="navbar-item text-green" [routerLink]="['./']" fragment="section3">
                <span>03.</span>&nbsp;Work
            </a>
            <a class="navbar-item text-green" [routerLink]="['./']" fragment="section4">
                <span>04.</span>&nbsp;Contact
            </a>
            <div class="navbar-item text-green">
                <div class="buttons">
                  <a class="button is-primary" [routerLink]="['./']" fragment="section6">
                    <strong>Resume</strong>
                  </a>
                </div>
              </div>
          </div>
        </div>
    </nav>
    <div orientation="right" class="side__StyledSideElement-sc-1duznzb-0 dFJNST">
      <div class="email__StyledLinkWrapper-sc-2epoq-0 ljVHsW fade-enter-done">
        <a href="mailto:davidmj950@gmail.com">davidmj950@gmail.com</a>
      </div>
    </div>
    <div class="social-network">
      <ul>
        <li>
          <a href="mailto:davidmj950@gmail.com" rel="noopener noreferrer"><i class="fas fa-envelope"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/david-morales94" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://github.com/davidmj50" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
        </li>
      </ul>
    </div>
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="container">
        <section id="section1" class="animate__bounceInUp">
            <p class="text-green my-3">Hi! My name is </p>
            <h1 class="is-size-1 bg-light-slate name">Jose David Jimenez</h1>
            <h3 class="is-size-1 bg-slate">Analista y desarrollador de software.</h3>
            <p class="w-400 is-size-5">Ingeniero de sistemas del Instituto Tecnologico Metropolitano (ITM). Actualmente resido en Medellin (Antioquia), tengo experiencia desarrolllando web applications, web services, desktop apps, mvc applications, backend and frontend apps. </p>
            <div class="buttons mt-10">
                <a href="mailto:davidmj950@gmail.com" class="button is-primary">Get In Touch</a>
            </div>
        </section>
        <section class="section2 animate__bounceInUp" id="section2">
            <h2 class="is-size-3 bg-slate about-title" style="margin-bottom: 1rem;"><span class="">01.</span>&nbsp;Sobre mi</h2>
            <div class="sectionMe">
              <div class="aboutMe">
                <div class="bg-slate">
                    <p class="">Analista desarrollador con más de
                      2 años de experiencia
                      desarrollando en tecnologías
                      backend en .net framework y .net
                      core creando servicios rest, soap y
                      aplicaciones frontend mediante
                      razor pages, angular, css, html,
                      javascript y jquery. Poseo
                      conocimientos en bases de datos
                      como sql server y mysql, también
                      poseo conocimientos en azure
                      devops, versionamiento con git,
                      despliegue e integración continua,
                      creación de instancias y bases de
                      datos en la nube de Azure.</p><br>
                    <p>Here are a few technologies I've been working with recently:</p>
                    <ul class="skills-list">
                      <li>JavaScript (ES6+)</li>
                      <li>HTML, CSS</li>
                      <li>Angular</li>
                      <li>.Net framework</li>
                      <li>.Net core</li>
                      <li>Typescript</li>
                      <li>Node.js</li>
                      <li>Azure DevOps</li>
                      <li>Sql Server</li>
                      <li>MySql</li>
                    </ul>
                </div>
            </div>
            <div class="profile">
              <span>
                <img src="../../../../assets/img/david.png" width="300" alt="">
              </span>
            </div>
            </div>
        </section>
        <section id="section3">
          <h2 class="is-size-3 bg-slate exp-title" style="margin-bottom: 1rem;"><span class="">02.</span>&nbsp;Experiencia</h2>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Analista de ingeniería de software junior - Personal Soft S.A.
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="bg-slate is-size-4">24 de Julio de 2019 – 11 de abril de 2021.</p><br>
                  <ul>
                    <li>Desarrollador backend de aplicaciones web, servicios rest,
                      soap en c#.net con entity framework, linq y sql server.</li>
                    <li>Desarrollador de aplicación frontend con angular, css,
                      javascript, jquery y en c#.net utilizando razor pages y mvc.</li>
                    <li>Soporte de aplicaciones y bases de datos en c#.net, SQL
                      Server, MySQL y Angular.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Practicante de excelencia - Alcaldía de Medellín, Subsecretaría de catastro.
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="bg-slate is-size-4">16 de julio de 2018 - 16 de diciembre de 2018.</p><br>
                  <ul>
                    <li>Desarrollo de formularios tipo escritorio en el lenguaje de
                      programación C# de .NET.</li>
                    <li>Análisis y desarrollo de bases de datos en Sql Server y en
                      Microsoft Access.</li>
                    <li>Desarrollo de Macros, análisis de datos y creación de
                      informes en Excel.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Practicante - Ekisa Ltda.
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="bg-slate is-size-4">01 de agosto de 2016 - 01 de febrero de 2017.</p><br>
                  <ul>
                    <li>Desarrollo de formularios tipo escritorio en el lenguaje de
                      programación Visual Basic y c#.net.</li>
                    <li>Análisis y desarrollo de bases de datos en Sql Server.</li>
                    <li>Diseño y desarrollo de reportes, cubos, DataWareHouse
                      utilizando las tecnologías de SSAS, SSIS y SSRS de.NET
                      para el análisis de información.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section4 animate__bounceInUp" id="section4">
          <h2 class="is-size-3 bg-slate my-work" style="margin-bottom: 1rem;"><span class="">03.</span>&nbsp;Mi trabajo</h2>
          <div class="projects-grid">
            <div class="project-inner">
              <div class="project-top">
                <div class="folder">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder">
                    <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                  </svg>
                </div>
                <div class="project-links">
                  <a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                      <polyline points="15 3 21 3 21 9"></polyline>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                  </a>
                </div>

              </div>
              <h3 class="project-title">
                <a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" rel="noopener noreferrer" target="_blank">Arkadia aplicacion web Backend - Bootcamp Java Full Stack</a>
              </h3>
              <div class="project-description">
                <p>Arkadia aplicacion web Backend - Bootcamp Java Full Stack proyecto independiente para simular un Ecommerce.</p>
              </div>
              <footer>
                <ul class="project-tech-list">
                  <li>Java</li>
                  <li>Maven</li>
                  <li>MySql</li>
                </ul>
              </footer>
            </div>
            <div class="project-inner">
              <div class="project-top">
                <div class="folder">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder">
                    <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                  </svg>
                </div>
                <div class="project-links">
                  <a href="https://github.com/davidmj50/arkadia" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                      <polyline points="15 3 21 3 21 9"></polyline>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                  </a>
                </div>

              </div>
              <h3 class="project-title">
                <a href="https://github.com/davidmj50/arkadia" rel="noopener noreferrer" target="_blank">Arkadia aplicacion web frontend - Bootcamp Java Full Stack</a>
              </h3>
              <div class="project-description">
                <p>Arkadia aplicacion web frontend - Bootcamp Java Full Stack proyecto independiente para simular un Ecommerce.</p>
              </div>
              <footer>
                <ul class="project-tech-list">
                  <li>Angular</li>
                  <li>Typescript</li>
                  <li>Javascript</li>
                </ul>
              </footer>
            </div>
            <div class="project-inner">
              <div class="project-top">
                <div class="folder">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder">
                    <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                  </svg>
                </div>
                <div class="project-links">
                  <a href="https://github.com/davidmj50/Test_Ophelia" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                      <polyline points="15 3 21 3 21 9"></polyline>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                  </a>
                </div>

              </div>
              <h3 class="project-title">
                <a href="https://github.com/davidmj50/Test_Ophelia" rel="noopener noreferrer" target="_blank">Aplicacion backend Ecommerce .Net Core 3.1</a>
              </h3>
              <div class="project-description">
                <p>Aplicacion backend Ecommerce .Net Core 3.1 utilizando Entity framework y base de datos Sql Server.</p>
              </div>
              <footer>
                <ul class="project-tech-list">
                  <li>SQL Server</li>
                  <li>.NET Core</li>
                  <li>EF Core</li>
                </ul>
              </footer>
            </div>
            <div class="project-inner">
              <div class="project-top">
                <div class="folder">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder">
                    <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                  </svg>
                </div>
                <div class="project-links">
                  <a href="https://github.com/davidmj950/ProyectoCiibm" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                      <polyline points="15 3 21 3 21 9"></polyline>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                  </a>
                </div>

              </div>
              <h3 class="project-title">
                <a href="https://github.com/davidmj950/ProyectoCiibm" rel="noopener noreferrer" target="_blank">Proyecto web Ecommerce CI IBM</a>
              </h3>
              <div class="project-description">
                <p>Aplicacion web desarrollada en JavaScript, CSS, JQuery y HTML.</p>
              </div>
              <footer>
                <ul class="project-tech-list">
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Javascript</li>
                </ul>
              </footer>
            </div>
            <div class="project-inner">
              <div class="project-top">
                <div class="folder">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder">
                    <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                  </svg>
                </div>
                <div class="project-links">
                  <a href="https://github.com/davidmj950/Products" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                      <polyline points="15 3 21 3 21 9"></polyline>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                  </a>
                </div>

              </div>
              <h3 class="project-title">
                <a href="https://github.com/davidmj950/Products" rel="noopener noreferrer" target="_blank">Aplicacion Web desarrollada en .net framework y API en .net Core 2.1</a>
              </h3>
              <div class="project-description">
                <p>Aplicacion Web desarrollada en .net framework y API para el consumo de servicios web en .net Core 2.1.</p>
              </div>
              <footer>
                <ul class="project-tech-list">
                  <li>>.NET</li>
                  <li>SQL Server</li>
                  <li>EF</li>
                </ul>
              </footer>
            </div>
            <div class="project-inner">
              <div class="project-top">
                <div class="folder">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder">
                    <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                  </svg>
                </div>
                <div class="project-links">
                  <a href="mailto:davidmj950@gmail.com" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                      <polyline points="15 3 21 3 21 9"></polyline>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                  </a>
                </div>

              </div>
              <h3 class="project-title">
                <a href="mailto:davidmj950@gmail.com" rel="noopener noreferrer" target="_blank">Aplicacion Fontend y Backend Haceb</a>
              </h3>
              <div class="project-description">
                <p>Aplicacion Web Haceb Backend en .net core y Frontend en .Net Framework.</p>
              </div>
              <footer>
                <ul class="project-tech-list">
                  <li>.NET</li>
                  <li>SQL Server</li>
                </ul>
              </footer>
            </div>
            <div class="project-inner">
              <div class="project-top">
                <div class="folder">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder">
                    <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                  </svg>
                </div>
                <div class="project-links">
                  <a href="mailto:davidmj950@gmail.com" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                      <polyline points="15 3 21 3 21 9"></polyline>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                  </a>
                </div>

              </div>
              <h3 class="project-title">
                <a href="mailto:davidmj950@gmail.com" rel="noopener noreferrer" target="_blank">Soporte de aplicaciones en Medicarte</a>
              </h3>
              <div class="project-description">
                <p>Soporte de aplicaciones en Medicarte Outsourcing- Personal Soft Reporting services, web services REST y SOAP.</p>
              </div>
              <footer>
                <ul class="project-tech-list">
                  <li>>.Net</li>
                  <li>SQL Server</li>
                  <li>Angular</li>
                </ul>
              </footer>
            </div>
            <div class="project-inner">
              <div class="project-top">
                <div class="folder">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder">
                    <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                  </svg>
                </div>
                <div class="project-links">
                  <a href="mailto:davidmj950@gmail.com" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                      <polyline points="15 3 21 3 21 9"></polyline>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                  </a>
                </div>

              </div>
              <h3 class="project-title">
                <a href="mailto:davidmj950@gmail.com" rel="noopener noreferrer" target="_blank">Aplicacion workflow Bancolombia</a>
              </h3>
              <div class="project-description">
                <p>WorkFlow Aplicacion Frontend en Angular y Backend en .net framework.</p>
              </div>
              <footer>
                <ul class="project-tech-list">
                  <li>Angular</li>
                  <li>SQL Server</li>
                  <li>.Net</li>
                </ul>
              </footer>
            </div>
          </div>
        </section>
        <section class="section3 animate__bounceInUp" id="section5">
          <h2 class="numbered-heading overline"><span class="">04.</span> What’s Next?</h2>
          <h2 class="title">Contactame</h2>
          <p class="paragraph-last">Estoy abierto a escuchar nuevas ofertas de trabajo ideas o nuevos proyectos para desarrollar</p>
          <a href="#" class="buttonHello is-primary" href="mailto:davidmj950@gmail.com" rel="noopener noreferrer" target="_blank">Enviar</a>
        </section>
      <div class="footerCredits" id="section6">
        <p>Build by Jose David Morales Jimenez</p>
        <p>&copy; 2020</p>
      </div>
    </div>
</div>


