.bg-navy {
    background-color: #0a192f !important;
    font-family: var(--font-code);
}

.bg-light-slate {
    color: var(--slate);
    font-weight: 700;
}

.bg-slate {
    color: var(--light-slate);
}

.text-green {
    color: #64ffda !important;
}

.is-size-1 {
    font-size: 4em !important;
    font-family: var(--nunito);
}

.is-size-2 {
    font-size: 3em !important;
    font-family: var(--nunito);
}

.is-size-4 {
    font-size: 1rem !important;
    font-family: var(--nunito);
}

.w-400 {
    font-family: var(--nunito);
    color: var(--light-slate);
    max-width: 600px;
}

.button {
    color: var(--customGreen);
    transition: all 0.2s;
    background-color: transparent;
    border: 1px solid var(--customGreen);
    padding: 1.7em;
}

.button:hover {
    border: 1px solid var(--customGreen);
    background-color: rgba(100, 255, 218, 0.1);
    color: var(--customGreen);
}

.navbar-item span {
    color: #fff;
    font-size: 15px;
}

.navbar-item:hover {
    background-color: transparent;
}

.navbar-item:link {
    background-color: transparent;
}

.navbar {
    position: fixed;
    right: 0rem;
    width: 100%;
}

span {
    color: var(--customGreen);
    font-size: 0.8em;
}


ul.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}

ul.skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    top: 5px;
    color: var(--customGreen);
    font-size: 1.2em;
    line-height: 12px;
}

@media (max-width: 700px) { 
    .section1 {
        height: auto;
        margin-bottom: 100px;
    }

    .line1, .line2, .social-network, .dFJNST {
        display: none;
    }

    .name {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .about-title, .exp-title, .my-work, .section2 {
        margin-top: 2.5rem;
    }

    .sectionMe {
        display: flex;
    }

    .aboutMe {
        padding-left: 1rem;
        width: 100% !important;
    }
    .profile {
        width: 100% !important;
        text-align: center;
    }
}

.dFJNST a{
    width: 40px;
    position: fixed;
    bottom: 260px;
    left: auto;
    right: 20px;
    z-index: 10;
    color: var(--light-slate);
    transform: rotate(90deg);
    text-decoration: none;
}

.line1 {
    position: fixed;
    right   : 0;
    width: 5rem;
    z-index: 10;
    height: 0.1rem;
    transform: rotate(90deg);
    bottom: 2rem;
    background-color: var(--light-slate);
}

.line2 {
    position: fixed;
    left   : 0;
    width: 5rem;
    z-index: 10;
    height: 0.1rem;
    transform: rotate(90deg);
    bottom: 2rem;
    background-color: var(--light-slate);
}

.social-network {
    position: fixed;
    left: 1.7rem;
    z-index: 10;
    bottom: 5.5rem;
}

.social-network a {
    color: var(--light-slate);
}

.social-network a i { 
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.ljVHsW {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    
}

.about-title::after {
    content: "";
    display: block;
    position: relative;
    top: -20px;
    width: 20%;
    height: 1px;
    margin-left: 230px;
    background-color: var(--lightest-navy);
}

section {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 1rem;
    background-size: cover;
    scroll-snap-align: center;
}

.exp-title::after {
    content: "";
    display: block;
    position: relative;
    top: -20px;
    width: 20%;
    height: 1px;
    margin-left: 290px;
    background-color: var(--lightest-navy);
}


.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

.card {
      background-color: #0a192f;
}

.card button {
    color: var(--slate);
    font-size: 1.2rem;
    font-weight: 700;
}

.card button::after {
        content: "▹";
        position: absolute;
        left: 15px;
        top: 23px;
        color: var(--customGreen);
        font-size: 1.2em;
        line-height: 12px;
}

.sectionMe {
    display: flex;
    flex-wrap: wrap;
}

.aboutMe {
    width: 60%;
}

.profile {
    /* width: 290px; */
    border-radius: 50%;
    opacity: 0.7;
}

.profile img {
    border-radius: 50%;
    filter: grayscale(100%);
    transition: width 0.8s ease-in-out;
}

.profile img:hover {
    width: 350px;
}

.card-body li {
    list-style-type: circle;
    color: gray;
}

.my-work::after {
    content: "";
    display: block;
    position: relative;
    top: -20px;
    width: 20%;
    height: 1px;
    margin-left: 275px;
    background-color: var(--lightest-navy);
}


.projects-grid {
    list-style: none;
    padding: 0px;
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}

.project-inner {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    transition: botton 1s;
    font-family: var(--nunito);
}

.project-inner:hover {
    bottom: 10px;
}

.project-top {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 35px;
}

.project-top .folder {
    color: var(--green);
}

.project-top .folder svg {
    width: 40px;
    height: 40px;
}

.project-top .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: -10px;
    color: var(--light-slate);
}

.project-top .project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 7px;
}

.project-top .project-links a.external svg {
    width: 22px;
    height: 22px;
    margin-top: -4px;
    color: honeydew;
}

.project-title {
    margin: 0px 0px 10px;
    color: var(--lightest-slate);
    font-size: 22px;
}

.project-title a{
    color: var(--lighest-slate) !important;
    text-decoration: none;
    font-size: 1.2rem;
    
    font-weight: bold;
}

.project-title a:hover {
    color: var(--green) !important;
}

.project-tech-list {
    display: flex;
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
    font-size: var(--font-code);
    color: var(--light-slate);
}

.project-description p {
    color: var(--light-slate);
}

.section3 {
    text-align: center;
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    font-family: var(--nunito);

}

.numbered-heading {
    display: block;
    margin-bottom: 20px;
    color: var(--green);
    font-weight: 400;
    font-family: var(--font-code);
}

.title {
    color: var(--lighest-slate);
    font-size: clamp(40px, 5vw, 60px);
}

.paragraph-last {
    color: var(--lighest-slate);
}

.buttonHello {
    margin-top: 2rem;
    color: var(--customGreen);
    transition: all 0.2s;
    background-color: transparent;
    border: 1px solid var(--customGreen);
    padding: 1.7em;
    width: auto;
}

.buttonHello:hover {
    border: 1px solid var(--customGreen);
    background-color: rgba(100, 255, 218, 0.1);
    color: var(--customGreen);
}

.footerCredits {
    min-width: 700px;
    text-align: center;
    font-family: var(--font-code);
    color: var(--green);
}